.productBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    width: 90%;
    margin-top: 6%;
    justify-content: space-around;
}

.productBoxContainer img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 4%;
}

.productBox {
    width: 350px;
    margin-bottom: 65px;
}