body h1, body p, body h2, body h3, body h6, body b, body div {
    color: white; 
}

body {
    background-color: rgb(39, 40, 51) !important;
    width: 100vw;
    height: auto;
}

.swal2-popup, .swal2-title, .swal2-content {
    color: black !important; /* Prevent color change */
  }